<div class="app">
    <div class="tab">
        <div class="nav" (click)="showNavAd()">Administration</div>
        <div class="nav" (click)="showNavOp()">Operations</div>
        <div class="nav" (click)="showNavRe()">Reports</div>

    </div>
    <div class="menu">
        <div class="search">
            <input type="text" placeholder="enter text to search ...">
        </div>
        <div class="sub-menu">
            <span class="item" (click)="show()">System Initialization</span>
        </div>
        <ul *ngIf="showMenu">

            <li>Enterprise</li>
            <li>Communication Settings</li>
            <li>System Display Settings</li>
            <li>Country</li>
            <li>State</li>
            <li>Zip Code</li>
            <li>Message</li>
            <li>Document</li>
            <li>Exit</li>
        </ul>


        <div>
            <div style="border: 1px solid grey;">
                <span style=" color: blue;">Application Setup</span>
            </div>

        </div>
        <div>
            <div style="border: 1px solid grey;">
                <span style=" color: blue;">Finacial</span>
            </div>

        </div>

    </div>
    <div class="content">       
        <div class="router-box">
                content
        </div>
       
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

</div>
