<div class="app">
    <div class="tab">
        <div class="nav" (click)="showNavAd()">Administration</div>
        <div class="nav" (click)="showNavOp()">Operations</div>
        <div class="nav" (click)="showNavRe()">Reports</div>

    </div>
    <div class="menu">
        <div class="search">
            <input type="text" placeholder="enter text to search ...">
        </div>
        <div class="sub-menu" > 
            <ng-container *ngFor='let key of columns'>
                <div>
                    <span class="item" (click)="show(key)">
                        {{ key.header }}
                    </span>
                    <ul *ngIf="key.expand"  >
                        <li *ngFor='let subheader of key.subHeader' (click)="selectedSubHeader()">{{subheader.label}}</li>
                    </ul>
                </div>
                
               
               
            </ng-container>
           
        </div>   
    </div>
    <div class="content">       
        <div class="router-box">
                content
        </div>
       
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

</div>
